# list and its default fuction

In [1]:
lst = ["roshni", "mars", "mouth", 123, 254, 65.52]

In [2]:
lst

['roshni', 'mars', 'mouth', 123, 254, 65.52]

In [3]:
lst.append("monday")

In [4]:
lst

['roshni', 'mars', 'mouth', 123, 254, 65.52, 'monday']

In [5]:
lst.count("roshni")

1

In [6]:
lst.index("mouth")

2

In [7]:
lst.extend(["business analyst", "finance"])

In [8]:
lst

['roshni',
 'mars',
 'mouth',
 123,
 254,
 65.52,
 'monday',
 'business analyst',
 'finance']

In [10]:
lst.remove("business analyst")

In [11]:
lst

['roshni', 'mars', 'mouth', 123, 254, 65.52, 'monday', 'finance']

In [12]:
lst.pop(4)

254

# dictionary and default fuction

In [16]:
dit = {"name": "roshni rathod", "age": "23", "college": "SVIM", "village" : "dharni","email": "roshnirathod@gmail.com", "nubmer": "1234567890"}

In [17]:
dit

{'name': 'roshni rathod',
 'age': '23',
 'college': 'SVIM',
 'village': 'dharni',
 'email': 'roshnirathod@gmail.com',
 'nubmer': '1234567890'}

In [18]:
dit["school"] = "RJSC"

In [19]:
dit

{'name': 'roshni rathod',
 'age': '23',
 'college': 'SVIM',
 'village': 'dharni',
 'email': 'roshnirathod@gmail.com',
 'nubmer': '1234567890',
 'school': 'RJSC'}

In [20]:
dit.pop("email")

'roshnirathod@gmail.com'

In [21]:
dit.items()

dict_items([('name', 'roshni rathod'), ('age', '23'), ('college', 'SVIM'), ('village', 'dharni'), ('nubmer', '1234567890'), ('school', 'RJSC')])

In [22]:
dit.setdefault('age')

'23'

In [25]:
dit.get('number')

In [24]:
dit

{'name': 'roshni rathod',
 'age': '23',
 'college': 'SVIM',
 'village': 'dharni',
 'nubmer': '1234567890',
 'school': 'RJSC'}

In [26]:
dit.keys()

dict_keys(['name', 'age', 'college', 'village', 'nubmer', 'school'])

# sets and its default function

In [27]:
st = {"jitesh", 1, 2, 3, "letsupgrade", 1,2, 5, 2, 3, 6 ,5 }

In [28]:
st

{1, 2, 3, 5, 6, 'jitesh', 'letsupgrade'}

In [29]:
st1 = {1, 2, 5, 8, 6, 7, 6 ,3}

In [30]:
st1

{1, 2, 3, 5, 6, 7, 8}

In [31]:
st.issubset

In [32]:
st1.issubset

In [33]:
st.add("rathod")

In [34]:
st

{1, 2, 3, 5, 6, 'jitesh', 'letsupgrade', 'rathod'}

In [37]:
st1.add("jitesh")

In [38]:
st1

{1, 2, 3, 5, 6, 7, 8, 'jitesh'}

In [39]:
st.intersection(st1)

{1, 2, 3, 5, 6, 'jitesh'}

In [40]:
st.issuperset(st1)

False

# tuple and explore default method

In [41]:
tup = ("roshni", "#", "@", "$", "marketing", "OR")

In [42]:
tup

('roshni', '#', '@', '$', 'marketing', 'OR')

In [44]:
tup.count("#")

1

In [45]:
tup.index("marketing")

4

In [46]:
tup[-5]

'#'

In [47]:
tup[-4]

'@'

In [48]:
tup[2]

'@'

# strings and explore default methods

In [52]:
str= "I love apples, apple are my favorite fruit, hello and welcome to my world"

In [53]:
str

'I love apples, apple are my favorite fruit, hello and welcome to my world'

In [54]:
str.capitalize()

'I love apples, apple are my favorite fruit, hello and welcome to my world'

In [55]:
str.casefold()

'i love apples, apple are my favorite fruit, hello and welcome to my world'

In [56]:
str.encode()

b'I love apples, apple are my favorite fruit, hello and welcome to my world'

In [57]:
str.endswith(".")

False

In [58]:
str.find("love")

2